<ion-header>
  <ion-toolbar>
    <ion-title>Kritik dan Saran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Kritik dan Saran</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            Kritik
          </ion-col>
          <ion-col>
            : 
          </ion-col>
          <ion-col>
            Waktu upload materi saya kurang cukup waktu untuk melihat dan mengerjakan tugas harian yang diberikan. karena pada hari selasa jadwal saya cukup padat.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Saran
          </ion-col>
          <ion-col>
            : 
          </ion-col>
          <ion-col>
            Mungkin bisa dimajukan h-1 sebelum kelas dimulai.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
