<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile Mahasiswa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        Nama
      </ion-col>
      <ion-col>
        : 
      </ion-col>
      <ion-col>
        Kevin Christian
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        NRP
      </ion-col>
      <ion-col>
        : 
      </ion-col>
      <ion-col>
        C14180089
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        E-Mail
      </ion-col>
      <ion-col>
        : 
      </ion-col>
      <ion-col>
        c14180089@john.petra.ac.id
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        No HP 
      </ion-col>
      <ion-col>
        : 
      </ion-col>
      <ion-col>
        081315345509
      </ion-col>
    </ion-row>
</ion-grid>  
</ion-content>
